img.fbb-title {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin-left: 5px;
}

/* This is to make the nav social vertically align with the copyright*/
footer {
    line-height: 32px;
}

p#foot {
    display: inline;
    vertical-align: middle;
}

nav#social {
    float: right;
    font-size: 32px;
    display: inline;
}

/*This is to make the nav vertically align in the middle*/
div#anchor {
    line-height: 100px;
    z-index: 10;
    background: #002F6C;
    color: #FFFFFF;
}

nav#left-nav {
    float:right;
    display: inline;
    vertical-align: middle;
}

div#center {
    text-align: center;
    background-color: #F6F6F6;
    z-index: 0;
}

a#contact-link {
    font-size: 14px;
}

a#main-home-link {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 44px;
    vertical-align: middle;
}

p.no-bottom-margin {
    margin-bottom: 0px;
}

.vert-center {
    vertical-align: middle;
}

div.img-inline {
   display: inline-block;
   width: 30%;
}

div#homepage-overlay {
    position: absolute;
    top: 50px;
    left: 25%;
    text-align: center;
}

div#meettheboys {
    padding-top: 20px;
    padding-bottom: 5px;
}

div.small-box {
    width: 355px;
    height: 305px;
    float: left;
    display: inline;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    margin-left: 150px;
    background-color: white;
}

div.small-box2 {
    width: 355px;
    height: 305px;
    float: right;
    display: inline;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    margin-right: 150px;
    background-color: white;
}
@media screen and (min-width: 1200px) {
    div.small-box {
        margin-left: 200px;
    }
    div.small-box2{
      margin-right: 200px;
    }
}

p.inline-right {
    float:right;
    display:inline;
}

.top { 
    position: fixed; 
    top: 0;
    height: 100px; 
    width: 100%;
    background: white;
    z-index: 10;
}

.push {
    margin-bottom: 100px;
    z-index: 10;
}

.no-hover-underline:hover {
    text-decoration: none;
}

#media_body {
    background-color: #F6F6F6;
    min-height: 100vh;
    font: normal 16px sans-serif;
    
}

.container.gallery-container {
    background-color: #F6F6F6;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}


.MTBcontainer {
  display: inline-block;
  position: relative;
  width: 18%;
}

.MTBimage {
  display: block;
  width: 100%;
  height: auto;
}

.MTBoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4F83CC;
}

.MTBcontainer:hover .MTBoverlay {
  opacity: 1;
}

.MTBtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.bio {
    width: 96%;
    padding-left: 4%;
    padding-bottom: 10px;
}

tr.striped-table {
    background-color: #FFFFFF;
}

tr.table-header {
    background-color: #4F83CC;
    color: #FFFFFF;
    text-align: center !important;
}

table#events-table {
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  border: 1px solid #4F83CC;
}

div#padding-bottomtable {
  height: 1px;
}

h1.page-title{
  padding: 15px;
  background-color: #01579B;
  color: #FFFFFF;
}


@link-color {
  color: #FFFFFF;
}

a.headerLink {
	color: #FFFFFF;
}

a.headerLink:hover {
	color: #4F83CC;
}

a.headerLink:focus {
	color: #4F83CC;
}

a.headerLink:active {
  color: #4F83CC;
}

.shop-page {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.shop-block {
  margin: 20px;
  border-radius: 4px;
  width: 280px;
  min-height: 430px;
  background: #fff;
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}

.shop-top {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.shop-middle {
  margin-bottom: 40px;
}

.shop-middle img {
  width: 100%;
}

.shop-bottom {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shop-item {
  padding: 2px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.shop-heading {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0;
}
.shop-info {
  font-size: 14px;
  color: #969696;
  margin-bottom: 10px;
}
.shop-style {
  font-size: 16px;
  margin-bottom: 20px;
}
.shop-out-of-stock {
  color: #f00;
}


